spring.application.name=chatboteasy
meta.verify.token=tokenWebhook

whats.api.token=tokenAPI
whats.phone.number.id=idNum

spring.datasource.url=jdbc:mysql://localhost:3306/easydb?createDatabaseIfNotExist=true
spring.jpa.hibernate.ddl-auto=update
spring.datasource.username=usuario
spring.datasource.password=senha